body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;

}


* { 
    box-sizing: border-box; 
}

/* general */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

hl,
h2,
h3,
p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

hl,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: orangered
}

hl {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid blue; 
}

h2,
h3 {
    font-size: 22px;
}

/* header */
#masthead {
    position: fixed;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: white;
    background: lightseagreen;
    border-bottom: 2px solid black;
}

.container a{
    text-decoration: none;
    color: white;

}

}
nav{
    float: right;
    margin-top: 25px;   
}

nav a{ 
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border-left: 1px solid black;
}

nav a first-child{
    border-left: 0 none;
}

/* main */
#main-container {
    padding-top: 130px;
}
.main-section {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 2px solid lightseagreen;
}

/*sidebar*/
.sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: lightcoral;
    border: 3px solid black;
}

h3, .sidebar h2{
        padding-bottom: 20px;
        margin-bottom: 15px;
        line-height:22px;
        border-bottom: 2px solid peachpuff;
}
.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

/* Portfolio page */
.work {
    position:relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;

}
.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

}
.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}
.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: black;
    text-align: center;
    background: salmon;
    border-bottom: 0;
}
.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

footer{
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color:white;
    text-align: center;
    background: lightgreen;
    border-top: 8px solid black;
}

/*slidebar*/
.sidebar {
    float: right;
    width: 100px;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: sandybrown;
    border: 1px solid black;
}


.social {
    width:62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
    
}

/* contact page */
#contact-form ul {
 margin-bottom: 20px;
}
#contact-form li {
margin-bottom: 10px;
}
label,
input[type=text]  
input[type=email]
textarea {
    display: block;
    width: 100px;
}
input[type=text],
input[type=email],
textarea{
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid indigo;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: tomato;
    cursor: pointer;
    background: chartreuse;
    border: 0 none;
}


/*footer*/
footer {
    padding:30px 0;
    clear: both;
    font-size: 12px;
    color:pink;
    text-align: center;
    background: black;
    border-top: 8px solid red;
}
